{% extends "master.html" %}

{% load static %}

{% block title %}Tasks{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'tasks/_menu.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/_task.css' %}">
{% endblock %}

{% block content %}
    {% include "tasks/_menu.html" %}
    <form method="post" action="{% url 'tasks/edit' %}?id={{ id }}" class="task">
        {% csrf_token %}
        {{ task.as_div }}
        <input type="submit" name="update" value="Update">
        <input type="submit" name="delete" value="Delete">
    </form>
{% endblock %}
