{% extends "master.html" %}

{% load static %}

{% block title %}Tasks - Search{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '_pagination.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/_menu.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/_task.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/search.css' %}">
{% endblock %}

{% block content %}
    {% include "tasks/_menu.html" %}
    <form method="post" action="{% url 'tasks/search' %}" class="task" id="search-form">
        {% csrf_token %}
        {{ search_form.as_div }}
        <input type="submit" value="Search">
    </form>
    <table class="tasks">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Status</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            {% for task in page_object %}
                <tr>
                    <td><a href="{% url 'tasks/edit' %}?id={{ task.id }}">{{ task.id }}</a></td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.description|truncatechars:100 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if page_object.has_other_pages %}
        <ul class="pagination">
            {% for i in elided_page_range %}
                {% if i == page_object.paginator.ELLIPSIS %}
                    <li>...</li>
                {% elif page_object.number == i %}
                    <li class="active"><span>{{ i }}</span></li>
                {% else %}
                    <li><button form="search-form" formaction="?page={{ i }}">{{ i }}</button></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
